In [1]:
# q1 :
# ineruon 
# ineruon ineruon 
# ineruon ineruon ineruon
# ineruon ineruon ineruon ineruon

# q2 - 

#           ineruon
#     ineruon      ineruon
# ineruon		ineruon 	ineruon
# 	ineruon		 ineruon
# 		  ineruon

# l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
#             "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

# q3 : Try to extract all the list entity 
# q4 : Try to extract all the dict enteties
# q5 : Try to extract all the tuples entities
# q6 : Try to extract all the numerical data it may b a part of dict key and values 
# q7 : Try to give summation of all the numeric data 
# q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
# q9 : Try to extract "ineruon" out of this data
# q10 :Try to find out a number of occurances of all the data 
# q11 : Try to find out number of keys in dict element
# q12 : Try to filter out all the string data 
# q13 : Try to Find  out alphanum in data
# q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
# q15 : Try to unwrape all the collection inside collection and create a flat list

In [2]:
# q1 :
# ineruon 
# ineruon ineruon 
# ineruon ineruon ineruon
# ineruon ineruon ineruon ineruon

s = "ineruon"
for i in range(4):
    for j in range(i+1):
        print(s,end=" ")
    print()

ineruon
ineruon ineruon
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [3]:
# q2 - 

#           ineruon
#     ineruon      ineruon
# ineruon		ineruon 	ineruon
# 	ineruon		 ineruon
# 		  ineruon
for i in range(3):
    print(" "*((3-i-1)*len(s))+(s+" "*len(s))*(i+1))
for i in range(2):
    print(" "*len(s)*(i+1)+(s+" "*len(s))*(2-i))

              ineruon
       ineruon       ineruon
ineruon       ineruon       ineruon
       ineruon       ineruon
              ineruon

In [4]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [5]:
# q3 : Try to extract all the list entity 
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [6]:
# q4 : Try to extract all the dict enteties
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [7]:
# q5 : Try to extract all the tuples entities
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [8]:
# q6 : Try to extract all the numerical data it may b a part of dict key and values 
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k)==int:
                print(k)
            if type(v)==int:
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [9]:
# q7 : Try to give summation of all the numeric data 
added = 0
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                added += j
    if type(i) == dict:
        for k,v in i.items():
            if type(k)==int:
                added += k
            if type(v)==int:
                added += v
print(added)

156

In [10]:
# q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
for i in l:
    if type(i)==list:
        for j in i:
            if type(j) == int and j%2!=0:
                print(j)

1
3

In [11]:
# q9 : Try to extract "ineruon" out of this data
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j=="ineuron":
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k=="ineuron":
                print(k)
            if v=="ineuron":
                print(v)

ineuron
ineuron

In [12]:
# q10 :Try to find out a number of occurances of all the data 
data = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            data.append(j)
    if type(i) == dict:
        for k,v in i.items():
            data.append(k)
            data.append(v)
for i in set(data):
    print("occurances of",str(i),":",str(data.count(i)))

occurances of 1 : 1
occurances of 2 : 2
occurances of 3 : 4
occurances of 4 : 4
occurances of 5 : 3
occurances of 6 : 3
occurances of 7 : 2
occurances of k1 : 1
occurances of sudh : 1
occurances of k3 : 1
occurances of kumar : 1
occurances of 8 : 1
occurances of 45 : 1
occurances of data science  : 1
occurances of ineuron : 2
occurances of 23 : 1
occurances of k2 : 1

In [13]:
# q11 : Try to find out number of keys in dict element
for i in l:
    if type(i)==dict:
        print(len(i))

5

In [14]:
# q12 : Try to filter out all the string data 
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j) == str:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str:
                print(k)
            if type(v) == str:
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [15]:
# q13 : Try to Find  out alphanum in data
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j) == str and j.isalnum():
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str and k.isalnum():
                print(k)
            if type(v) == str and v.isalnum():
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [16]:
# q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
multi = 1
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                multi *= j
    if type(i) == dict:
        for k,v in i.items():
            if type(k)==int:
                multi *= k
            if type(v)==int:
                multi *= v
print(multi)

908605071360000

In [17]:
# q15 : Try to unwrape all the collection inside collection and create a flat list 
data = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            data.append(j)
    if type(i) == dict:
        for k,v in i.items():
            data.append(k)
            data.append(v)
print(data)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']